*,
*:before,
*:after {
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.btn {
    width: 12em;
    height: 3.75em;
    background: #66cbff;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    box-shadow: 0 0.75em 0 #63a7ee, 0 1.25em 0 0.35em #c9e8e3;
    padding: 0.5em;
    position: relative;
    transition: all 0.1s ease-out;
}

.btn:hover,
.btn:focus {
    transition: all 0.25s ease-out;
    background: #fafafa;
    color: #66cbff;
    box-shadow: 0 0.75em 0 #c2c2c2, 0 1.25em 0 0.35em #c9e8e3;
}

.btn:active {
    background: #66cbff;
    color: #fafafa;
    box-shadow: 0 0 0 0.35em #c9e8e3;
    transform: translate(0, 1.25em);
    transition: all 0.1s ease-out;
}

.top {
    font-size: 0.9em;
    letter-spacing: 0.08em;
    display: block;
    margin-bottom: 0.2em;
}

.btm {
    font-size: 1.2em;
    display: block;
    text-align: center;
}