* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.service {
    margin: 100px;
    width: 1190px;
    height: 42px;
}

.service ul {
    display: flex;
}

.service li {
    display: flex;
    padding-left: 40px;
    width: 297px;
    height: 42px;
}

.service li h5 {
    margin-right: 10px;
    width: 36px;
    height: 42px;
    background: url(jingdong.png) 0 -192px;
}

.service li:nth-child(2) h5{
    background-position: -41px -192px;
}

.service li:nth-child(3) h5{
    background-position: -82px -192px;
}

.service li:nth-child(4) h5{
    background-position: -123px -192px;
}

.service li p {
    font-size: 18px;
    color: #444444;
    font-weight: 700;
    line-height: 42px;
}